.fullscreen-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* background-color: #ffffff; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

